Writen BY zetian

In this file, I will extract the top keywords in each job, and store it as cleaned_jobdata_keyword_freq.csv

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
job_data_file_path = "/Users/sky/Library/CloudStorage/GoogleDrive-skyjin0127@gmail.com/其他计算机/我的笔记本电脑/jzt/BU课程/Spring_2025/CS506/project/cs506-project/datasets/processed_data/cleaned_job_data.csv"
df = pd.read_csv(job_data_file_path)

df = df.dropna()

In [6]:


grouped_df = df.groupby("job")["description"].apply(lambda texts: " ".join(texts)).reset_index()

meaningless_word = {'company', 'years', 'year', 'experience', 'digit', 'digits', 'description', 'descriptions', 'months', 'month', 'maharashtra', "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December", "january", "february", "march", "april", "may", "june", 
            "july", "august", "september", "october", "november", "december"}

too_general_word_for_jd = {"knowledge",
    "work",
    "working",
    "like",
    "good",
    "new",
    "required",
    "code",
    "training",
    "flexible",
    "existing",
}

def get_top_keywords(text, top_n=50):

    default_stop_words = set(CountVectorizer(stop_words='english').get_stop_words())
    custom_stop_words = list(default_stop_words.union(meaningless_word).union(too_general_word_for_jd))
    

    vectorizer = CountVectorizer(
        stop_words=custom_stop_words, 
        # ngram_range=(1, 1),
        # token_pattern=r'(?u)\b[a-zA-Z]{3,}\b'
    )
    X = vectorizer.fit_transform([text])
    word_counts = X.toarray()[0]
    words = vectorizer.get_feature_names_out()
    word_freq = list(zip(words, word_counts))
    word_freq = sorted(word_freq, key=lambda x: x[1], reverse=True)
    return word_freq[:top_n]


grouped_df["top_keywords"] = grouped_df["description"].apply(lambda x: get_top_keywords(x, top_n=50))

In [7]:
grouped_df

,job,description,top_keywords
0,accountant,supporting the cross-functional teams to reach...,"[(accounting, 49), (financial, 37), (managemen..."
1,administrative assistant,supports managers and employees through a vari...,"[(team, 18), (written, 16), (ability, 15), (ad..."
2,administrative manager,"manage branch administration, including branch...","[(management, 37), (team, 37), (administrative..."
3,adviser,customer service advisor operational hours: mo...,"[(skills, 23), (advice, 16), (excellent, 16), ..."
4,application developer,"profound knowledge in visual studio c#, blazor...","[(development, 36), (team, 32), (applications,..."
...,...,...,...
154,verification engineer,take full responsibility for verification of a...,"[(verification, 148), (test, 138), (design, 56..."
155,veterinary surgeon,40 hours a week including 1 in 3 weekends and ...,"[(team, 94), (hours, 64), (veterinary, 64), (p..."
156,video editor,""" creating content to fulfill the companys soc...","[(video, 139), (content, 107), (editing, 79), ..."
157,washer,preparing vehicles in readiness for being retu...,"[(customer, 32), (vehicle, 26), (service, 22),..."
158,web developer,develop user journeys enhancing engagement and...,"[(development, 29), (team, 24), (strong, 23), ..."

In [8]:
grouped_df.to_csv('cleaned_jobdata_keyword_freq.csv')